<h1><%= @product.name %></h1>
<p>Cost: <%= @product.cost %></p>
<p>Country of Origin: <%= @product.origin_country %></p>
<p>Rating: <%= @product.get_avg_rating %></p>

<hr>

<p><%= link_to 'Home', landing_pages_path %></p>
<p><%= link_to "Update #{@product.name}", edit_product_path(@product) %></p>
<p><%= link_to "Delete #{@product.name}", product_path(@product),
  :data => {:confirm => "You sure?",
  :method => "delete"} %>
</p>
<p><%= link_to 'Add Review', new_product_review_path(@product) %></p>

<% if @product.reviews.any? %>
  <h2>Reviews</h2>
  <% @product.reviews.each do |review| %>
    <p><%= review.content_body %></p>
    <p>- <%= review.author %></p>
    <hr>
  <%end%>
<% else %>
  <h2>There are currently no reviews for this product.</h2>
<% end %>
